@import "../../../style/styles";
$class_name: 'x-field';
.#{$class_name} {
  padding-top: 0.75rem;
  margin-top: 0.25rem;

  &_outlined {
    position: relative;
    background-color: inherit;
    .#{$class_name}__input {
      background-color: transparent;
      border: 1px solid currentColor;
      &:focus {
        box-shadow: 0 0 3px 0 currentColor, 0 0 3px 0 currentColor inset;
      }
    }
    .#{$class_name}__label {
      position: absolute;
      top: 0;
      background-color: inherit;
      margin-left: 0.5rem;
      padding: 0.25rem;
    }
  }

  &_rounded {
    .#{$class_name}__input {
      border-radius: 999px;
    }
  }

  &_size_sm {
    .#{$class_name}__input {
      padding: 0.5rem;
      font-size: 0.8rem;
    }

  }

  &_size_md {
    .#{$class_name}__input {
      padding: 0.75rem;
      font-size: 1rem;
    }
  }

  &_size_lg {
    .#{$class_name}__input {
      padding: 1rem;
      font-size: 1.35rem;
    }
  }

  @each $name in $main-colors {
    &_#{$name} {
      color: var(--color-#{$name});
      &:not(:disabled) {
        &:hover {
          color: var(--color-#{$name}-light);
        }
        .#{$class_name}__input {
        }

      }
    }
    &_bg_#{$name} {
      background-color: var(--color-#{$name});
    }
  }

  &__label {
    color: inherit;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    background-color: inherit;
  }

  &__input {
    line-height: 1.25rem;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    flex: 1 1 auto;
    max-height: 2rem;
    color: inherit;
    &:focus {
      outline: none;
    }

  }

  &__message {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
  }
}
