@mixin grid_util($cols: $grid-columns, $rows: $grid-rows) {
  .grid {
    display: grid;
    &_cols {
      @for $i from 1 through $cols {
        &_#{$i} {
          grid-template-columns: repeat($i, minmax(0, 1fr));
        }
      }
    }
  }
}
$cols: $grid-columns;
$rows: $grid-rows;
//@include grid_util();


@mixin create-grid($cols: $grid-columns, $rows: $grid-rows) {
  @each $name, $width in $breakpoints {
	@media screen and (min-width: $width) {
	  $prefix: get-media-prefix($name);
	  //.#{$prefix}{
	  //  @include grid_util()
	  //}
	  @for $i from 1 through $cols {
		$classname: #{$prefix}grid_cols_#{$i};
		@include create-class($classname, grid-template-columns, repeat($i, minmax(0, 1fr)))
	  }
	}
  }
}

@mixin create-grid-cols($cols: $grid-columns) {

}

@include create-grid();

.grid {
  display: grid;
  grid-column-gap: $grid-gutter;
  grid-row-gap: $grid-gutter;
}
