@import "../../style/styles";
.x-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  &:not(.x-card_flat) {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: var(--primary-border-radius, 1rem);
  }
  &__header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  &__content {
    flex: 1 1 auto;
    min-height: 1px;
    padding: $card-content-padding;
  }
  &__footer {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }

  @each $name, $color in $baseColors {
    &_bg_#{$name} {
      background-color: #{$color};
    }
    &_outline_#{$name} {
      color: #{$color};
      border-color: #{$color};
    }
  }

  &_outlined {
    border-color: currentColor;
  }

  &_flat {

  }

  &_horizontal {
    flex-direction: row;
    .x-card__header {
    }
    .x-card__footer {
    }
  }
}
