:root {
  --font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-size: 16px;
  --font-size-small: .75rem;
  --font-size-large: 1.5rem;

  --line-height-default: 1.45;

  --line-height-body: 1.5;

  //colors

  @each $name, $color in $baseColors {
	--color-#{"" + $name}: #{$color};
  }

  --color-accent: var(--blue-500);
  --color-accent-light: var(--blue-300);
  --color-accent-dark: var(--blue-800);
  --color-primary: var(--blue-500);
  --color-primary-light: var(--blue-300);
  --color-primary-dark: var(--blue-800);
  --color-secondary: var(--purple-500);
  --color-secondary-light: var(--purple-300);
  --color-secondary-dark: var(--purple-800);
  --color-warning: var(--orange-500);
  --color-warning-light: var(--orange-300);
  --color-warning-dark: var(--orange-800);
  --color-success: var(--green-500);
  --color-success-light: var(--green-300);
  --color-success-dark: var(--green-700);
  --color-error: var(--red-500);
  --color-error-light: var(--red-300);
  --color-error-dark: var(--red-700);
  --color-info: var(--blue-300);
  --color-info-light: var(--blue-200);
  --color-info-dark: var(--blue-500);

  --color-black: var(--grey-900);
  --color-white: var(--grey-100);

  //colors

  --bg-color: var(--grey-50);

  --text-color: var(--grey-900);

  --header-text-color: var(--blue-grey-50);
  --header-brand-color: var(--header-text-color);
  --header-brand-font-size: 3rem;

  --link-color: var(--color-primary);

  --muted-color: var(--grey-200);


  --space-unit: #{$space-unit};

  --primary-border-radius: .25rem;

  --card-content-padding: 1.25rem;

  /* borders */
  --base-border-radius: .25rem;
  --sm-border-radius: .125rem;
  --lg-border-radius: .5rem;
  --xl-border-radius: .75rem;
  --rounded-border-radius: 100%;
  --circle-border-radius: 50%;


  /*buttons*/
  --default-button-bg-color: hsl(0, 0%, 96%);
  --default-button-text-color: hsla(0, 0%, 0%, 0.87);
  --button-space-mult: 1;
  --button-space-unit: calc(var(--space-unit, 1rem) * var(--button-space-mult, 1));
  --button-border-radius: var(--base-border-radius);


  /* shadows */
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: calc(0.5 * var(--space-unit));
  --shadow-thin: 0px;
  --shadow-color: var(--grey-900);

}

@import "color_palette";
