@mixin media($breakpoint: 'sm', $type: min) {
  @if (map-has-key($breakpoints, $breakpoint)) and map-get($breakpoints, $breakpoint) > 0 {
	@media only screen {
	  @media (#{$type}-width: map_get($breakpoints, $breakpoint)) {
		@content;
	  }
	}
  } @else {
	@content;
  }
}

@mixin media-up($breakpoint) {
  @include media($breakpoint, min){
	@content;
  }
}
@mixin media-down($breakpoint) {
  @include media($breakpoint, max){
	@content;
  }
}
@mixin media-between($breakpoint-after, $breakpoint-before) {
	@include media($breakpoint-after, min){
	  @include media($breakpoint-before, max) {
		@content;
	  }
	}
}

@mixin media-only($breakpoint) {
  $min: map-get($breakpoints, $breakpoint);
  $n: index(map-keys($breakpoints), $breakpoint);

  $max: map-get($breakpoints, nth(map-keys($breakpoints), $n - 1));
  @media (min-width: $min) and (max-width: $max) {
	@content;
  }
}

@mixin rwd($screen, $type: 'min', $screen2: 0) {
  @if ($type == and) {
	@media only screen and (min-width: $screen) and (max-width:  $screen2 - 1px) {
	  @content;
	}
  }
  @else {
	@media only screen and (#{$type}-width: $screen) {
	  @content;
	}
  }
}

@mixin xs { @include media(xs){@content}}
@mixin sm { @include media(lg){@content}}
@mixin md { @include media(md){@content}}
@mixin lg { @include media(lg){@content}}
@mixin xl { @include media(xl){@content}}
@mixin xxl { @include media(xxl){@content}}

@function get-media-prefix($breakpoint) {
  //@debug $breakpoint;
  //@debug $breakpoints;
  @if map-has-key($breakpoints, $breakpoint) {
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	@if $breakpoint-value > 0 {
	  @return #{$breakpoint}\:;
	} @else {
	  @return ''
	}
  } @else {
	@return null;
  }
}
