@import "../../style/styles";

.x-button {
  display: inline-block;
  font-weight: 400;
  color: var(--default-button-text-color);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--default-button-bg-color);
  border: 1px solid transparent;
  padding: calc(.375 * var(--button-space-unit)) calc(0.75 * var(--button-space-unit));
  font-size: $base-font-size;
  line-height: 1.5;
  border-radius: $primary-border-radius;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
  &:hover {
  }
  &:focus {
    outline: none;
    &:not(.x-button_text) {
      box-shadow: 3px 3px 8px 0 hsla(0, 0%, 24%, 0.5), -3px 3px 8px 0 hsla(0, 0%, 24%, 0.5);
    }
  }
  &:active {
    outline: none;
  }

  &+.x-button {
    //margin-left: 0.8rem;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: var(--button-disabled-opacity, 0.4);
    pointer-events: none;
  }

  // sizes
  &_sm {
    padding: calc(.25 * var(--button-space-unit)) calc(.5 * var(--button-space-unit));
    font-size: .875rem;
    line-height: 1.5;
    border-radius: calc(.2 * var(--button-space-unit));
  }

  &_md {
    padding: calc(.375 * var(--button-space-unit)) calc(.75 * var(--button-space-unit));
    font-size: 1rem;
    line-height: 1.5;
    border-radius: calc(.25 * var(--button-space-unit));
  }

  &_l {
    padding: calc(.5 * var(--button-space-unit)) calc(1 * var(--button-space-unit));
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: calc(.3 * var(--button-space-unit));
  }

  &_xl {
    padding: calc(1 * var(--button-space-unit)) calc(1.25 * var(--button-space-unit));
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: calc(.3 * var(--button-space-unit));
  }

  //color scheme types

  @each $name in $main-colors {
    &_#{$name}
    {
      &:not(:disabled):not(.x-button_text) {
        &:hover {
          background-color: var(--color-#{$name}-light);
          border-color: var(--color-#{$name}-light);
        }
        &:active {
          background-color: var(--color-#{$name}-dark);
          border-color: var(--color-#{$name}-dark);
        }
      }
      &:not(.x-button_outlined):not(.x-button_text) {
        color: white;
        background-color: var(--color-#{$name});
        //border-color: var(--color-#{$name});

      }
      &.x-button_outlined {
        color: var(--color-#{$name});
        &:hover {
          color: white;
          //background-color: var(--color-#{$name});
        }
      }
      &.x-button_text {
        color: var(--color-#{$name});
        &:hover {
          color: var(--color-#{$name}-light);
        }
        &:active {
          color: var(--color-#{$name}-dark);
        }
      }
    }
  }
  &_outlined {
    border: thin solid;
  }

  &_block {
    display: block;
    width: 100%;
  }

  &__text {
    background-color: transparent;
  }

  &_rounded {
    border-radius: 290486px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em);
  }

  &_circle {
    border-radius: 50%;
    padding: calc(0.75 * var(--button-space-unit));
    @supports (aspect-ratio: 1/1) {
      aspect-ratio: 1/1;
    }
  }

  &_text {
    background-color: transparent;
  }
}
