.x-header {
  background-color: var(--color-primary);
  width: 100%;
  padding: 1rem;
  height: 100%;
  grid-area: header;
  &__brand {
    --brand-color: var(--header-brand-color,white);
    --brand-font-size: var(--header-brand-font-size,3rem);
    color: var(--brand-color);
    font-size: var(--brand-font-size);
  }
}
